Adafruit-Blinka==8.50.0
adafruit-circuitpython-busdevice==5.2.10
adafruit-circuitpython-connectionmanager==3.1.2
adafruit-circuitpython-requests==4.1.8
adafruit-circuitpython-sgp30==3.0.10
adafruit-circuitpython-typing==1.11.1
Adafruit-PlatformDetect==3.75.0
Adafruit-PureIO==1.1.11
binho-host-adapter==0.1.6
blinker==1.9.0
click==8.1.7
contourpy==1.3.0
cycler==0.12.1
Flask==3.1.0
fonttools==4.55.1
importlib_metadata==8.5.0
importlib_resources==6.4.5
itsdangerous==2.2.0
Jinja2==3.1.4
kiwisolver==1.4.7
MarkupSafe==3.0.2
matplotlib==3.9.0
numpy==2.0.2
packaging==24.2
pillow==11.0.0
pyftdi==0.55.4
pyparsing==3.2.0
pyserial==3.5
python-dateutil==2.9.0.post0
pyusb==1.2.1
RPi.GPIO==0.7.1
six==1.17.0
smbus2==0.5.0
spidev==3.6
sysv-ipc==1.1.0
typing_extensions==4.12.2
Werkzeug==3.1.3
zipp==3.21.0
